@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap);
 @import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap);
 *, *::after, *::before {
	 box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;

}

 body {
	 font-family: 'Roboto', sans-serif;
	 font-size: 16px;
	 line-height: 1.5em;
     height: 100%;
}
 a {
	 color: #336699;
	 text-decoration: none;
}
 .clearfix::after, .clearfix::before {
	 content: " ";
	 display: table;
}
 .clearfix::after {
	 clear: both;
}
 .bold {
	 color: #4a4e51;
	 font-weight: 400;
}
 .resume-wrapper {
	 position: relative;
	 text-align: center;
	 height: 100%;
}
 .experience-container {
	 min-height: 300px;
}
.education-container{
    min-height: 150px;

}
 .profile {
	 background: #fff;
	 width: 40%;
	 float: left;
	 color: #9099a0;
}
 @media (max-width: 850px) {
	 .profile {
		 width: 100%;
	}
}
 .profile .name-wrapper {
	 float: left;
	 width: 60%;
}
 .profile h1 {
	 font-size: 2.5em;
	 /* text-align: left; */
	 font-family: 'IBM plex sans', sans-serif;
	 color: #4a4e51;
	 text-transform: uppercase;
	 line-height: 1.5em;
     margin-top: 1.5em;
     margin-left: 0.5em;
}
 @media (max-width: 1200px) {
	 .profile h1 {
        margin: 1em 0 1em 0.2em;
	}
}

   
 @media (max-width: 450px) {
	 .profile h1 {

		 font-size: 1.8em;
         padding-top: 10px;
        display: flex;
        justify-items: center;
        margin-left: 4.3em;
        
    }
   
}
 .profile li {
	 margin-bottom: 10px;
}
 .profile .picture-resume-wrapper {
	 width: 40%;
	 display: block;
	 float: left;
}
 @media (max-width: 1200px) {
	 .profile .picture-resume-wrapper {
         width: 100%;

	}
}

 .profile .picture-resume {
	 width: 220px;
	 height: 220px;
	 background-size: cover;
	 border-radius: 50%;
	 margin-right: 0px;
	 display: table;
	 position: relative;
	 vertical-align: middle;
}
 .profile .picture-resume span {
	 display: table-cell;
	 vertical-align: middle;
	 position: relative;
	 margin: 0 auto;
	 z-index: 10;
	 text-align: center;
}
 .profile .picture-resume img {
	 border-radius: 50%;
     width: 180px;
     height: 180px;
}

 .profile .list-titles {
	 float: left;
	 text-align: left;
	 font-weight: 600;
	 width: 40%;
	 color: #4a4e51;
}
 .profile .list-content {
	 float: left;
	 width: 60%;
	 text-align: left;
	 font-weight: 300;
}
 .profile .contact-presentation {
	 text-align: left;
	 font-weight: 300;
     margin: 2em;
}
 @media (max-width: 1200px) {
	 .profile .contact-presentation {
		 margin-top: 1.5em;
		 margin-bottom: 1.5em;
	}
}
 @media (max-width: 850px) {
	 .profile .contact-presentation {
		 margin-top: 2.5em;
		 margin-bottom: 2.5em;
    }

}

 .experience {
	 background: #3d3e42;
     width: 60%;
     height: 1000px;
	 float: left;
	 position: relative;
	 color: #9099a0;
	 font-weight: 300;
	 min-height: 100%;
	 min-height: 100vh;
}
 @media (max-width: 850px) {
	 .experience {
		 width: 100%;
	}
}
 .experience h3.experience-title,
 .experience h3.education-title {
	 color: #6699cc;
	 text-align: left;
	 text-transform: uppercase;
	 font-size: 1.2em;
	 margin-bottom: 20px;
     font-weight: 400;

}
 .experience .company-wrapper,
 .experience .education-wrapper {
	 width: 30%;
	 float: left;
	 text-align: left;
	 padding-right: 5%;
	 margin-bottom: 20px;
}
 @media (max-width: 450px) {
	 .experience .company-wrapper {
		 width: 100%;
		 margin-bottom: 20px;
	}
}
 .experience .job-wrapper,
 .experience .school-wrapper {
	 width: 70%;
	 float: left;
	 text-align: left;
	 padding-right: 5%;
	 margin-bottom: 60px;
}
 @media (max-width: 450px) {
	 .experience .job-wrapper {
		 width: 100%;
		 margin-bottom: 40px;
	}
}
 .experience .experience-title,
 .experience .education-title {
	 color: white;
	 margin-bottom: 15px;
}
 .section-padding {
	 padding: 60px 60px 40px 60px;
}


 @media (max-width: 850px) {
	 .section-padding {
		 padding: 80px 15% 40px 10%;
	}
}
 @media (max-width: 450px) {
	 .section-padding {
		 padding: 40px 10% 20px 5%;
	}
}
 .section-wrapper {
	 width: 50%;
	 float: left;
	 text-align: left;
	 color: #9099a0;
	 font-weight: 300;
	 margin-bottom: 20px;
}
 @media (max-width: 450px) {
	 .section-wrapper {
         width: 100%;
         margin-left: 1em;
	}
}
 .section-wrapper:nth-child(3) {
	 padding-right: 8%;
}
 .section-wrapper h3.section-title {
	 color: #6699cc;
	 text-align: left;
	 text-transform: uppercase;
	 font-size: 1.2em;
	 margin-bottom: 20px;
	 font-weight: 400;
}
 .section-wrapper .skill-percentage {
	 margin-bottom: 10px;
	 position: relative;
}
 .section-wrapper .skill-percentage::after {
	 content: "";
	 width: 30%;
	 height: 6px;
	 background: #4a4e51;
	 display: block;
	 margin-top: 3px;
}
 .section-wrapper .skill-percentage::before {
	 content: "";
	 height: 6px;
	 background: #6699cc;
	 position: absolute;
	 margin-top: 3px;
	 bottom: 0;
}
 .section-wrapper .skill-percentage:nth-child(1)::before {
	 width: 50%;
	 animation: skill_1 0.6s ease;
}
 .section-wrapper .skill-percentage:nth-child(2)::before {
	 width: 50%;
	 animation: skill_2 0.6s ease;
}
 .section-wrapper .skill-percentage:nth-child(3)::before {
	 width: 50%;
	 animation: skill_3 0.6s ease;
}
 .section-wrapper .skill-percentage:nth-child(4)::before {
	 width: 90%;
	 animation: skill_4 0.6s ease;
}
 .section-wrapper .skill-percentage:nth-child(5)::before {
	 width: 80%;
	 animation: skill_5 0.6s ease;
}
 .section-wrapper .skill-percentage:nth-child(6)::before {
	 width: 80%;
	 animation: skill_6 0.6s ease;
}

@media (max-width: 1200px) {
    .profile .picture-resume img {
        width: 180px;
        height: 180px;
     }
   .profile .picture-resume {
    width: 180px;
    height: 180px;
    }
}


@media (max-width: 450px) {
    .profile .picture-resume {
        width: 180px;
        height: 180px;
        display: block;
        margin: auto;
   }
}
.profile .contact-info {
    margin: 2em;
    font-weight: 300;
}

.profile .contact-social {
    margin: 2em;
    font-weight: 300;
}

@media (max-width: 1200px) {
    .profile .contact-info,
    .profile .contact-social {
        margin-top: 30px;
   }
}
@media (max-width: 450px) {
    .profile .contact-info,
    .profile .contact-social {
        margin-top: 20px;
        margin-left: 25px;
   }
}

 @keyframes skill_1 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 50%;
	}
}
 @keyframes skill_2 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 50%;
	}
}
 @keyframes skill_3 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 50%;
	}
}
 @keyframes skill_4 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 90%;
	}
}
 @keyframes skill_5 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 80%;
	}
}
 @keyframes skill_6 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 80%;
	}
}

 